<?xml version="1.0" ?>

<launch>

    <arg name="robot_type" default="hi" doc="Robot type: [pi]"/>
    <arg name="rviz" default="true"/>
    <arg name="record_data" default="false"/>

    <include file="$(find hi_description)/launch/empty_world.launch"/>

    <node pkg="hi_controllers" type="timedelay_launch.sh" name="timedelay_launch" args="2 hi_controllers load_controller_sim.launch" output="screen"/>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find hi_controllers)/rviz/legged_robot.rviz" required="true" />

    <group if="$(arg record_data)">
        <include file="$(find hi_controllers)/launch/record_data.launch"/>
    </group>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"></node>

</launch>