<?xml version="1.0" ?>

<launch>
    <arg name="robot_type" default="hi" doc="Robot type: [pi]"/>
    <arg name="cheater" default="false"/>

    <include file="$(find pi_controllers)/launch/joy_teleop.launch"/>

    <!-- make the files into global parameters -->
    <param name="urdfFile" value="$(find pi_description)/urdf/$(arg robot_type).urdf"/>
    <param name="taskFile" value="$(find pi_controllers)/config/$(arg robot_type)/task_sim.info"/>
    <param name="referenceFile" value="$(find pi_controllers)/config/$(arg robot_type)/reference_sim.info"/>
    <param name="gaitCommandFile" value="$(find pi_controllers)/config/$(arg robot_type)/gait.info"/>
    <param name="trajDataFile" value="$(find pi_controllers)/data/q_qd_q2d.csv"/>
    <param name="collectDataDir" value="$(find pi_controllers)/data/"/>

    <rosparam file="$(find pi_controllers)/config/controllers.yaml" command="load"/>

    <node if="$(arg cheater)" name="controller_loader" pkg="controller_manager" type="spawner"
          output="screen" args="
          controllers/pi_controller
          controllers/pi_cheater_controller"/>

    <node unless="$(arg cheater)" name="controller_loader" pkg="controller_manager" type="spawner"
          output="screen" args="
          controllers/pi_controller"/>

    <node pkg="pi_controllers" type="pi_target_trajectories_publisher" name="pi_robot_target"
          output="screen"/>
          

</launch>